assertpy >= 1.1
aws-durable-execution-sdk-python-testing ~= 1.1.0
bandit ~= 1.7
black ~= 26.3.1
boto3 ~= 1.42
boto3-stubs[essential] ~= 1.42
cdk-nag ~= 2.29
cryptography ~= 46.0
datamodel-code-generator == 0.31.2
distlib ~= 0.3
flake8 ~= 7.0
freezegun ~= 1.2
git-remote-codecommit ~= 1.16
gitpython ~= 3.1.44
isort ~= 5.12
joserfc ~= 1.6.3
moto == 5.1.1
mypy ~= 1.15
mypy-boto3-stepfunctions ~= 1.42
openapi-spec-validator ~= 0.7.1
pip-audit ~= 2.6
pre-commit ~= 4.2
pygments ~= 2.20.0
pytest ~= 9.0.2
pytest-cov ~= 4.1
pytest-mock ~= 3.11
pytest-xdist ~= 3.3
requests-mock ~= 1.11
setuptools >= 76.2.0
types-requests ~= 2.31
virtualenv == 20.36.1
