.yaml-aligned-diff {
  display: flex;
  height: 500px;
  width: 100%;
  border: 1px solid var(--color-border-divider-default);
  border-radius: 8px;
  overflow: hidden;

  &__editor {
    flex: 1;
    height: 100%;
    min-width: 0;

    &:first-child {
      border-right: 1px solid var(--color-border-divider-default);
    }
  }
}

// Line background highlights
.diff-line-removed {
  position: absolute;
  background-color: #fce4e4;
}

.diff-line-added {
  position: absolute;
  background-color: #dff0df;
}

.diff-line-pad {
  position: absolute;
  background-color: #f5f5f5;
}
