aws-lambda-powertools[all] >= 3.26, < 3.28
aws-requests-auth ~= 0.4
aws-xray-sdk ~= 2.12
mypy-boto3-cloudwatch ~= 1.42
mypy-boto3-lambda ~= 1.42
mypy-boto3-logs ~= 1.42
mypy-boto3-ram ~= 1.42
mypy-boto3-secretsmanager ~= 1.42
mypy-boto3-ssm ~= 1.42
mypy-boto3-sts ~= 1.42
mypy_boto3_dynamodb ~= 1.42
mypy_boto3_stepfunctions ~= 1.42
nest-asyncio ~= 1.5
pydantic ~= 2.12
retry2 ~= 0.9
